@import "reset";
@import "variables/global";
@import "theme/dark";
@import "theme/normal";


.app{
  font:var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}